<!DOCTYPE html>
<div class="container" ng-controller="courseDetails as crsDtl">
	<div class="row">

		<!-- Here begin Sidebar -->
		<div class="col-md-3">
			<div class="widget-main">
				<div class="nav-side-menu">
					<h4 class="widget-title brand">Offered Courses</h4>
					<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
					<div id="accordion" >
					<ng-repeat ng-repeat="course in crsDtl.courses" on-finish-render >
						<h3>{{course.name}}</h3>
						<div>
							<ul class="course-side-menu">
								<li ng-repeat="module in course.modules" style="padding:4px 0">
									<a href="" ng-click="crsDtl.page=course.id+'.'+module.subid">{{module.name}}</a>
								</li>
							</ul>
						</div>
						</ng-repeat>	
						<h3>Section 2</h3>
						<div>
							<p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis
								porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.</p>
						</div>
						<h3>Section 3</h3>
						<div>
							<p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede.
								Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis
								leo purus venenatis dui.</p>
							<ul>
								<li>List item one</li>
								<li>List item two</li>
								<li>List item three</li>
							</ul>
						</div>
						<h3>Section 4</h3>
						<div>
							<p>Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis
								in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia mauris vel est.</p>
							<p>Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus. Class aptent taciti sociosqu ad litora torquent per conubia
								nostra, per inceptos himenaeos.</p>
						</div>
						<h3>Section 4</h3>
						<div>
							<p>Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis
								in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia mauris vel est.</p>
							<p>Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus. Class aptent taciti sociosqu ad litora torquent per conubia
								nostra, per inceptos himenaeos.</p>
						</div>
						<h3>Section 4</h3>
						<div>
							<p>Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis
								in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia mauris vel est.</p>
							<p>Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus. Class aptent taciti sociosqu ad litora torquent per conubia
								nostra, per inceptos himenaeos.</p>
						</div>
						<h3>Section 4</h3>
						<div>
							<p>Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis
								in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia mauris vel est.</p>
							<p>Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus. Class aptent taciti sociosqu ad litora torquent per conubia
								nostra, per inceptos himenaeos.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- /.widget-main -->

		</div>
		<!-- /.col-md-4 -->

		<!-- Here begin Main Content -->
		<div class="col-md-9" >
			<div class="row">
			<ng-repeat ng-repeat="course in crsDtl.courses">
				<div class="list-event-item box-content-inner clearfix" ng-repeat="module in course.modules" ng-show="crsDtl.page == course.id+'.'+module.subid">
					<div class="col-md-3">
						<div class="list-event-thumb">
							<a href="event-single.html"> <img class="img-responsive" src="images/events/event-list-thumb1.jpg" alt="">
							</a>
						</div>
					</div>
					<div class="col-md-9">
						<div>
							<div class="clearfix">
								<h4 class="">
									<a href="event-single.html">{{module.title}}</a>
								</h4>
								<p>{{module.desc}}</p>
								<br/>
								<h4>List of Content</h4>
								<hr>
								<ng-repeat ng-repeat="topic in module.topics">
								<h5>{{topic.name}}</h5>
								<ul>
									<li ng-repeat="subtopic in topic.subtopics">{{subtopic}}</li>
								</ul>
								</ng-repeat>
								<hr>
								<p>
									Upon successful completion of this course, students will have a good foundation in web design using HTML and CSS and will be prepared to
									study more advanced web design topics.<br> <br>Students should have a general background in using a computer, managing files, and a
									basic knowledge of the Internet. Students should also be able to navigate to and within a website using a web browser such as Chrome,
									Firefox, Internet Explorer, or Safari. Students do not need to purchase any software for this course.
								</p>
								<div class="alert alert-success">
									<strong>Available Courses</strong> - Find Courses, Telecourses & Web Courses
								</div>
								
								<a href="contact.html" class="mainBtn pull-right">Apply to this course</a>
							</div>
							<!-- /.course-details -->
						</div>
						<!-- /.course-post -->
						<!-- /.box-content-inner -->
					</div>
					<!-- /.list-event-item -->
				</div>
				</ng-repeat>
				<!-- /.col-md-12 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.col-md-8 -->

	</div>
	<!-- /.row -->
</div>
<!-- /.container -->