<!DOCTYPE html>
<ng-controller ng-controller="homeController as hc">
<div class="container" >
        <div class="row">
            <div class="col-md-8">
                <div class="main-slideshow">
                    <div class="flexslider" flexslider>
                        <ul class="slides">
                            <li>
                                <img src="images/course/online_computer_training_in_us_and_india.jpg" />
                                <div class="slider-caption">
                                    <h2><a href="blog-single.html">When a Doctor's Visit Is a Guilt Trip</a></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                                </div>
                            </li>
                            <!-- <li>
                                <img src="images/course/online_computer_training_in_us_and_india.jpg" />
                                <div class="slider-caption">
                                    <h2><a href="blog-single.html">Corin Sworn wins Max Mara Art Prize</a></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                                </div>
                            </li> -->
                        </ul> <!-- /.slides -->
                    </div> <!-- /.flexslider -->
                </div> <!-- /.main-slideshow -->
            </div> <!-- /.col-md-12 -->

		<div class="col-md-4" ng-controller="requestDemo as demo">
			<div class="widget-item padding-bottom35 wow bounceInDown animated" data-wow-delay="0.4s"
				style="visibility: visible; animation-delay: 0.4s; animation-name: bounceInUp;">
				<div class="request-information">
					<h4 class="widget-title">Request For Demo</h4>
					<form class="request-info clearfix" name="demoForm" >
						<div class="full-row">
							<label for="yourname">Full Name:</label> 
							<input type="text" id="name" name="name" ng-model="demo.name" required>
						</div>

						<div class="full-row">
							<label for="email-id">Email Address:
							</label> <input type="email" id="email-id" name="email-id" ng-model="demo.email" required>
						</div>
						<div class="full-row">
							<label for="email-id">Contact No:</label>
							<div class="row">
								<div class="col-xs-3 nopadding-right">
									<input type="text" id="mobile" name="mobile" ng-model="demo.country" size="5" />
								</div>
								<div class="col-xs-9">
									<input type="number" id="mobile" name="mobile" ng-model="demo.mobile" required />
								</div>
							</div>
						</div>
						<!-- /.full-row -->
						<div class="full-row">
							<label for="course">Course:</label>
							<div class="input-select">
								<select name="course" id="course" class="postform" ng-model="demo.course">
									<option ng-repeat="course in hc.courses | orderBy:'name'" value="{{course.id}}">{{course.name}}</option>
								</select>
							</div>
							<!-- /.input-select -->
						</div>
						<!-- /.full-row -->

						<div class="full-row">
							<div class="submit_field">
								<span class="small-text pull-left">Subscribe to our newsletter</span> 
								<input class="mainBtn pull-right" ng-click="demoForm.$valid && submit(demo)" type="submit" name=""
									value="Submit Request">
							</div>
							<!-- /.submit-field -->
						</div>
						<!-- /.full-row -->


					</form>
					<!-- /.request-info -->
				</div>
				<!-- /.request-information -->
			</div>
			<!-- /.widget-item -->
		</div>
		<!-- /.col-md-4 -->
	</div>
    </div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="widget-main">
					<div class="widget-inner">
						<div class="our-campus clearfix">
							<div data-wow-delay="0.4s" class="process-grids text-center wow bounce animated"
								style="visibility: visible; animation-delay: 0.4s; animation-name: bounce;">
								<div data-wow-delay="0.4s" class="col-md-3 process-grid process-grid1 wow bounceInUp animated"
									style="visibility: visible; animation-delay: 0.4s; animation-name: bounceInUp;">
									<span class="p-icon1"> </span>
									
									<div class="img-thumbnail">
                        				<i class="fa-4x fa fa-desktop"></i>
                    				</div>
                    				<h4>
										<a href="#">Online Training</a>
									</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum erat et neque tincidunt volutpat. Cras eget augue id dui varius pretium.</p>
								</div>
								<div data-wow-delay="0.4s" class="col-md-3 process-grid process-grid2 wow bounceInDown animated"
									style="visibility: visible; animation-delay: 0.4s; animation-name: bounceInDown;">
									<span class="p-icon2"> </span>
									
									<div class="img-thumbnail">
										<i class="fa-4x fa fa-user"></i>
									</div>
									<h4>
										<a href="#">Corporate Training</a>
									</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum erat et neque tincidunt volutpat. Cras eget augue id dui varius pretium.</p>
								</div>
								<div data-wow-delay="0.4s" class="col-md-3 process-grid process-grid3 wow bounceInUp animated"
									style="visibility: visible; animation-delay: 0.4s; animation-name: bounceInUp;">
									<span class="p-icon3"> </span>
									
									<div class="img-thumbnail">
										<i class="fa-4x fa fa-cogs"></i>
									</div>
									<h4>
										<a href="#">Software Development</a>
									</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum erat et neque tincidunt volutpat. Cras eget augue id dui varius pretium.</p>
								</div>
								<div data-wow-delay="0.4s" class="col-md-3 process-grid process-grid4 wow bounceInDown animated"
									style="visibility: visible; animation-delay: 0.4s; animation-name: bounceInDown;">
									<span class="p-icon4"> </span>
									
									<div class="img-thumbnail">
										<i class="fa-4x fa fa-wrench"></i>
									</div>
									<h4>
										<a href="#">Job Support</a>
									</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum erat et neque tincidunt volutpat. Cras eget augue id dui varius pretium.</p>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.widget-main -->
			</div>
			<!-- /.col-md-12 -->
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="cBusiness">
					<h3>Welcome to Universe Premium Template</h3>
					<h4>Discover affordable.Discover elegant solution for your online business fast,
						reliable, affordable.</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
        <div class="row">
            
            <!-- Here begin Main Content -->
            <div class="col-md-8">
            <div class="row">
                    
                    <div id="Grid ">
                    
                    <div class="col-md-4 mix students" data-cat="3" ng-repeat="course in hc.courses | orderBy: 'grid.order'">
                        <div class="gallery-item">
                            <a class="fancybox" rel="gallery1" href="images/gallery/gallery1.jpg">
                                <div class="gallery-thumb">
                                    <img src={{course.grid.img}} alt="" />
                                </div>
                                <div class="gallery-content">
                                    <h4 class="gallery-title">{{course.grid.title}}</h4>
                                    <p class="small-text">{{course.grid.shortDesc}}</p>
                                </div>
                            </a>
                        </div> <!-- /.gallery-item -->
                    </div> <!-- /.col-md-4 -->

                    </div> <!-- /#Grid -->

                </div> <!-- /.row -->
			<div class="row">
				<div class="col-md-12 ">
					<p>
						<a href="#offered_courses" style="color:#666666 "><input class="pull-right" style="margin-top: 10px; background-color: #d5d5d5;" type="button" value="View Offered Courses"></a>
					</p>
				</div>
			</div>
			<!-- <div class="row">
                    <div class="col-md-12">
                        <div class="widget-main">
                            <div class="widget-main-title">
                                <h4 class="widget-title">Our Campus</h4>
                            </div> /.widget-main-title
                            <div class="widget-inner">
                                <div class="our-campus clearfix">
                                    <ul>
                                        <li><img src="images/campus/campus-logo1.jpg" alt=""></li>
                                        <li><img src="images/campus/campus-logo2.jpg" alt=""></li>
                                        <li><img src="images/campus/campus-logo3.jpg" alt=""></li>
                                        <li><img src="images/campus/campus-logo4.jpg" alt=""></li>
                                    </ul>
                                </div>
                            </div>
                        </div> /.widget-main
                    </div> /.col-md-12
                </div> /.row -->

            </div> <!-- /.col-md-8 -->
            
            <!-- Here begin Sidebar -->
            <div class="col-md-4">

                <upcome-batch></upcome-batch>

				<!-- <div class="widget-main">
                    <div class="widget-main-title">
                        <h4 class="widget-title">Our Gallery</h4>
                    </div>
                    <div class="widget-inner">
                        <div class="gallery-small-thumbs clearfix">
                            <div class="thumb-small-gallery">
                                <a class="fancybox" rel="gallery1" href="images/gallery/gallery1.jpg" title="Gallery Tittle One">
                                    <img src="images/gallery/gallery-small-thumb1.jpg" alt="" />
                                </a>
                            </div>
                            <div class="thumb-small-gallery">
                                <a class="fancybox" rel="gallery1" href="images/gallery/gallery2.jpg" title="Gallery Tittle One">
                                    <img src="images/gallery/gallery-small-thumb2.jpg" alt="" />
                                </a>
                            </div>
                            <div class="thumb-small-gallery">
                                <a class="fancybox" rel="gallery1" href="images/gallery/gallery3.jpg" title="Gallery Tittle One">
                                    <img src="images/gallery/gallery-small-thumb3.jpg" alt="" />
                                </a>
                            </div>
                            <div class="thumb-small-gallery">
                                <a class="fancybox" rel="gallery1" href="images/gallery/gallery4.jpg" title="Gallery Tittle One">
                                    <img src="images/gallery/gallery-small-thumb4.jpg" alt="" />
                                </a>
                            </div>
                            <div class="thumb-small-gallery">
                                <a class="fancybox" rel="gallery1" href="images/gallery/gallery5.jpg" title="Gallery Tittle One">
                                    <img src="images/gallery/gallery-small-thumb5.jpg" alt="" />
                                </a>
                            </div>
                            <div class="thumb-small-gallery">
                                <a class="fancybox" rel="gallery1" href="images/gallery/gallery6.jpg" title="Gallery Tittle One">
                                    <img src="images/gallery/gallery-small-thumb6.jpg" alt="" />
                                </a>
                            </div>
                            <div class="thumb-small-gallery">
                                <a class="fancybox" rel="gallery1" href="images/gallery/gallery7.jpg" title="Gallery Tittle One">
                                    <img src="images/gallery/gallery-small-thumb7.jpg" alt="" />
                                </a>
                            </div>
                            <div class="thumb-small-gallery">
                                <a class="fancybox" rel="gallery1" href="images/gallery/gallery8.jpg" title="Gallery Tittle One">
                                    <img src="images/gallery/gallery-small-thumb8.jpg" alt="" />
                                </a>
                            </div>
                        </div> /.galler-small-thumbs
                    </div> /.widget-inner
                </div> /.widget-main -->
                
                <div class="widget-main">
                    <div class="widget-main-title">
                        <h4 class="widget-title">Testimonial</h4>
                    </div>
                    <div class="widget-inner">
                        <div id="slider-testimonials" pslider>
                            <ul>
                                <li>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, quos, veniam optio voluptas hic delectus soluta odit nemo harum <strong class="dark-text">Shannon D. Edwards</strong></p>
                                </li>
                                <li>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, quos, veniam optio voluptas hic delectus soluta odit nemo harum <strong class="dark-text">Shannon D. Edwards</strong></p>
                                </li>
                                <li>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, quos, veniam optio voluptas hic delectus soluta odit nemo harum <strong class="dark-text">Shannon D. Edwards</strong></p>
                                </li>
                            </ul>
                            <a class="prev fa fa-angle-left" href="#"></a>
                            <a class="next fa fa-angle-right" href="#"></a>
                        </div>
                    </div> <!-- /.widget-inner -->
                </div> <!-- /.widget-main -->

                

            </div>
        </div>
    </div>
    </ng-controller>