<!DOCTYPE html>
<div class="widget-main">
	<div class="widget-main-title">
		<h4 class="widget-title">Upcoming Batches</h4>
	</div>
	<!-- /.widget-main-title -->
	<div class="widget-inner">

		<div class="event-small-list clearfix" ng-repeat="course in upCrs.courses">
			<div class="calendar-small">
				<span class="s-month">{{ course.Date | limitTo : 3 : 3}}</span> 
				<span class="s-date">{{ course.Date | limitTo : 2}}</span>
			</div>
			<div class="event-small-details">
				<h5 class="event-small-title">
					<a href="event-single.html">{{course.name}}</a>
				</h5>
				<p class="event-small-meta small-text">{{course.Time}}</p>
				<p class="event-small-meta small-text">Duration : {{course.Duration}}</p>
			</div>
		</div>

	</div>
	<!-- /.widget-inner -->
</div>
<!-- /.widget-main -->