/**** Background Colors ****/
body,
.lightBtn {
  background-color: #efefef;
}

.main-slideshow,
.widget-item,
.widget-main,
.box-content-inner,
.page-title,
.grid-event-header,
.load-more-btn,
.event-container,
.gallery-content,
.blog-post-inner,
.prev-next-post a,
#blog-author,
.widget-main-title,
.blog-comments-content,
.contact-page-content,
.contact-map,
.course-details,
#disqus_thread {
  background-color: white;
}

.menu-toggle-btn {
  background-color: #fecd0b;
}

.search-form form input {
  background-color: #004074;
}

.responsive_menu {
  background-color: #00569d;
}

.slider-caption,
.cat-blog,
.blog-post-meta ul li {
  background-color: rgba(0, 0, 0, 0.3);
}

.mainBtn,
.request-information .submit_field .mainBtn,
.tag-items a,
.site-header,
.main-menu li ul,
.social_icons li a,
.footer-media-icons li a,
.flex-direction-nav a {
  background-color: #003a6a;
}

.main-navigation,
.site-footer {
  background-color: #004884;
}

blockquote,
.calendar-small,
.course-list > dt:nth-child(odd),
.tab-content > .tab-pane {
  background-color: #f3f3f3;
}

.s-month,
#slider-testimonials .prev,
#slider-testimonials .next,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #4782b2;
}

/**** Text Colors ****/
.main-menu li.active a,
.social-icons li a:hover,
.site-footer a:hover,
.event-container .event-time {
  color: #fecd0b;
}

.main-menu li.active .sub-menu a:hover,
.main-menu li a:hover,
.social-icons li a,
.social_icons li a,
.slider-caption h2 a,
.flex-direction-nav a,
.footer-widget-title,
.footer-media-icons li a,
.mainBtn,
.request-information .submit_field .mainBtn,
.s-month,
#slider-testimonials .prev,
#slider-testimonials .next,
.blog-grid-thumb .cat-blog,
.blog-post-meta ul li,
.blog-post-meta ul li a,
.tag-items a,
.comment-form .mainBtn,
.course-search-form .mainBtn,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a,
.main_menu a {
  color: white;
}

body,
.blog-list-meta a,
.event-small-meta,
.blog-grid-meta a,
.lightBtn,
.lightBtn:hover,
.blog-categories ul li a,
.comment-form label,
.course-search-form label {
  color: #666666;
}

.menu-toggle-btn,
.menu-toggle-btn:hover {
  color: #003a6a;
}

.main-menu a,
.main-menu li.active .sub-menu a,
.main-menu li ul li:before,
.site-header,
.site-header a {
  color: #8ab5d6;
}

.site-header a:hover {
  color: #5191c2;
}

.small-links li:not(:last-child):after,
.flex-direction-nav a:hover {
  color: #4185b9;
}

.site-footer {
  color: #6b90ad;
}

.site-footer a {
  color: #8ab5d6;
}

.footer-nav li:not(:first-child):before {
  color: #4e718d;
}

.bottom-footer p.small-text {
  color: #6b90ad;
}

a,
blockquote h5,
.blog-categories ul li a:hover,
.author-name a,
.author-name a:hover {
  color: #4782b2;
}

h1, h2, h3, h4, h5, h6,
.dark-text,
.page-title a,
.s-date,
.load-more-btn a,
.mixitup-controls .active,
.prev-next-post a {
  color: #282a2c;
}

.small-text,
.page-active,
.request-information input,
.input-select select,
.event-contact ul li,
.comment-form input,
.comment-form textarea
.contact-form input,
.contact-form textarea,
.course-search-form input,
.course-search-form select {
  color: #999999;
}

.page-title h6:not(:first-child):before {
  color: #cccccc;
}

/**** Border Colors ****/
.widget-main-title,
blockquote,
.request-information input,
.input-select select,
.blog-list-post,
.event-small-list,
.prof-list-item,
.grid-event-header,
.load-more-btn,
.search-form-widget input,
.prev-next-post .whiteBtn,
.blog-comments-content .media,
.comment-form input,
.comment-form textarea,
.contact-form input,
.contact-form textarea,
.course-search-form input,
.course-search-form select {
  border-color: #d5dbe0 !important;
}

.search-form form input,
.main-navigation,
.main-menu li {
  border-color: #00569d;
}

.main-menu li ul li {
  border-color: #004884;
}

body,
.main-menu li ul,
.tab-content > .tab-pane {
  border-color: #fecd0b;
}

.site-header,
.site-footer {
  border-color: #d5d5d5;
}

.bottom-footer {
  border-color: #003a6a;
}

.course-list dt,
.course-list dt:last-of-type {
  border-color: #e7eaed;
}
